body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
}

div.hidden{
	display: none;
}


.home-bgimg-1, .home-bgimg-about {
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-bgimg-1 {
	background-image: url("../img/boulder-bckgd1.jpg");
	min-height: 100%;
	background-size: 100%;
}

.aboutheader {
	background-image: none;
}

.home-bgimg-about {
	background-image: url("../img/boulder-bckgd2.jpg");
	min-height: 100%;
	background-size: 100%
}

.home-bgimg-contact {
	background-image: url("../img/hanging_lake.jpg");
	min-height: 100%;
	background-size: 100%;
}

.cs-bgimg-1 {
	/*background-color: red;*/
	background-image: url("../img/coding1.jpg");
	min-height: 100%;
	background-size: 100%;
	/*width: 200%;*/
}

.cs-bgimg-experience {
	background-image: url("../img/coding-experience.jpg");
	min-height: 85%;
	background-size: 100%;
}

.cs-bgimg-skills {
	background-image: url("../img/coding-skills.jpg");
	height: 40%;
	min-height: 82%;
}

.cs-bgimg-courses {
	background-image: url("../img/coding-courses.jpg");
	min-height: 90%;
	background-size: 100%;
}

.echostar-bgimg-1 {
	background-image: url("../img/coding-skills.jpg");
	max-height: 90%;
	background-size: 100%;
}


.ec-bgimg-1 {
	background-image: url("../img/ec1.png");
	min-height: 100%;
	background-size: 100%;
}


.boulder-bgimg-1 {
	background-image: url("../img/boulder1.jpg");
	min-height: 100%;
	background-size: 100%;
}


.contact-bgimg-1 {
	margin: 0 auto;
	/*background-image: url("contact1.jpg");*/
	height: 95%;
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
}

.ucroo-bgimg-1 {
	/*background-color: #5DADE2;*/
	background-image: url("../img/ucroo1.jpg")
	min-height: 100%;
	background-size: 100%;
}

.container {
	width: 500px;
	height: 500px;
	text-align: center;
	background-color: black;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 100px;
	/*border-radius: 4px;*/
	/*margin-top: 150px*
	/*border-radius: 4px;*/
}


nav {
	width: 100%;
	z-index: 0;
	position: relative;
}

#rightnav {
	float: right;
}

#adjustednav {
	padding-left: 10%;
	width: 100%;
}

.sidenav {
	float: left;
	position: fixed;
	z-index: 1;
	margin: 0;
	width: 10%;
	height: 100%;
	background-color: #111;
	overflow-x: hidden; /*disable horizontal scroll*/
	padding-top: 60px;
	transition: 0.5s;
}

.sidenav a {
	padding: 0% 0% 10% 10%;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    /*background-color:#333;*/
}

li {
    float: left;
    /*z-index: 1;
    position: relative;*/
}

li a {
    display: block;
    /**color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	/*background-color: #111*/
	color: black;
}

.active {
	color: #111;
}

element.style {
	color: #777;
	background-color: white;
	padding-top: 50px;
	padding-right: 80px;
	padding-bottom: 50px;
	padding-left: 80px;
	text-align: justify;
}

.caption {
	position: absolute;
	left: 0%;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

input {
	height: 50px;
	width: 300px;
	margin-bottom: 10px;	
}

form-input::before {
	position: absolute;
	font-size: 30px;
}

.btn-login {
	color: #fff;
	border: none;
	background-color: black;
}

/*FONT*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);


h1 {
	/*display: block;*/
	text-align:center;
	color: black;
	font-size: 30px;
	font-style: italic;
	letter-spacing: 2px;	
	/*font-family: "Open Sans", "sans-serif";*/
	font-family: "adobe-garamond-pro";
	font-weight: lighter;
	/*
	font-family: sans-serif;
	font-size: 24px;
	color: white;*/
}

h2 {
	text-align:center;
	color: black;
	font-size: 30px;
	font-family: "Open Sans", "sans-serif";
	font-weight: lighter;
	/*font-style: italic;*/
	/*letter-spacing: 2px;*/
	/*font-family: "Tahoma";*/

}

a {
	text-decoration: none;
}

a2 {
	font-size: 120%;
	padding-left: 15%;
	text-decoration: none;
}

a:active {
	background-color: gray;
}

.boxed {

	width: 10%;
	border: 5px solid black;
	margin: auto;
}


/*FORM*/

form {
	/*width: 0%;
    margin-right: 30%;
    margin-left: 30%;*/
    background-color: transparent;
  }


div.mainform {width:100%;
              border:1px solid #000}


/*SNOW*/

#snow {
	background: none;
	/*font-family: Androgyne;*/
	background-image: url('s1.png'), url('s2.png'), url('s3.png'), url('');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:0;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
