<!DOCTYPE html>
<html>
	<head>
		<script src="angular.min.js"></script>
		<title>AngularJS</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>

		<div ng-app="">
			<center>
			<p>Your information</p>
				<p>First Name: <input type="text" ng-model="firstname" placeholder="Enter first name here"></p>

				<p>Last Name: <input type="text" ng-model="lastname" placeholder="Enter last name here"></p>

				<p>Message: <input type="text" ng-model="message" placeholder="Enter message here"></p>
			

			Your Email: <h3 style="padding-left: 10em;">Hello, my name is {{firstname}} {{lastname}}. {{message}}</h3>
			</center>
		</div>

	</body>
</html>