body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
}

.home-bgimg-1, .home-bgimg-2 {
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-bgimg-1 {
	background-image: url("boulder-bckgd1.jpg");
	min-height: 100%;
	background-size: 100%;
}

.home-bgimg-2 {
	background-image: url("boulder-bckgd2.jpg");
	min-height: 100%;
	background-size: 100%
}

.home-bgimg-3 {
	background-image: url("hanging_lake.jpg");
	min-height: 100%;
	background-size: 100%;
}

.cs-bgimg-1 {
	/*background-color: red;*/
	background-image: url("coding2.jpg");
	/*width: 200%;*/
}

.cs-bgimg-2 {
	/*background-image: url("coding2.jpg");*/
	height: 100%;
	width: 200%;
}

#container {
	position: fixed;
	background-color: white;
}

nav {
	width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    /*background-color:#333;*/
}

li {
    float: left;
}

li a {
    display: block;
    /**color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	/*background-color: #111*/
	color: black;
}

.active {
	color: #111;
}

element.style {
	color: #777;
	background-color: white;
	padding-top: 50px;
	padding-right: 80px;
	padding-bottom: 50px;
	padding-left: 80px;
	text-align: justify;
}

.caption {
	position: absolute;
	left: 0%;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

h1 {
	color: black;
	font-size: 30px;
	font-style: italic;
	letter-spacing: 2px;
	/*
	font-family: sans-serif;
	font-size: 24px;
	color: white;*/
}

h2 {

}

a {
	text-decoration: none;
}

a:active {
	background-color: gray;
}